{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": "> 5%, not dead"
      }
    ]
  ],
  "plugins": [
    ["@babel/plugin-transform-class-properties"]
  ]
}
